*{
    padding: 0%;
    margin: 0%;
}
table{
    width: 400px;
}
table, td, tr, th {
    border: solid black 1px;
}
div{
    width: 40vh
}
ol{
    font-style: italic;
}
.pontos{
    list-style-type: disc;
    padding: 15%;
}
.num{
    list-style-type: decimal;
    padding: 15%;
}
.doted{
    list-style-type: circle;
    padding: 15%;
}
.roma{
    list-style-type: upper-roman;
    padding: 20%;
}
.letra{
    list-style-type: lower-latin;
    padding: 15%;
}
.title{
    text-align: center;
    font-style: italic;
}
.city{
    border: 1px solid;
    font-style: italic;
    text-align: center;
}