*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc;
    padding: 1%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.cabecalho{
    border-bottom: 2px solid rgb(158, 158, 158);
    height: 10vh;
}
.cabecalho h1{
    font-weight: normal;
    font-size: 3em;
    line-height: 2px;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
    width: 4%;
}
.cabecalho nav{
    position: relative;
    float: right;
    width: 40%;
}
.cabecalho ul{
    width: 100%;
    float: left;
}
.cabecalho li{
    padding: 3%;
    float: left;
    font-weight: bolder;
}
.cabecalho li p{
    font-size: 10pt;
    color: #636363;
}
/* DIV 2 */
.co{
    padding: 2%;
    border-bottom: 2px solid rgb(158, 158, 158);
    clear: both;
}
.co h2{
    font-size: 2em;
    font-weight: normal;
    color: #4b4b4b;
}
.co h2 strong{
    color: black;
}
/* DIV SIDE */
.side{
    height: 6vh;
    width: 18%;
    padding: 1%;
    margin-right: 1%;
    border-bottom: 2px solid rgb(158, 158, 158);
    float: left;
}
.side h2{
    font-size: 2em;
    float: right;
}
.side p{
    font-weight: bold;
    font-size: 1em;
    float: right;
    color: #636363;
}
.side .content{
    width: 30vh;
    margin-top: 20%;
    color: black;
    text-align: right;
    font-weight: bold;
    line-height: 25px;
}
/* DIV CONTAINER */
.container{
    width: 75%;
    float: left;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 130px;
    grid-gap: 58px 58px;
    padding: 30px 30px;
}
.red{
    border: 1px solid ;
    border-radius: 2%;
    padding: 2%;
}